#main-container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

#team-members-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Members Card */
.member-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 300px;
    margin: 15px;
    border: 0.2px solid #d8d8d8;
    box-shadow: 2px 5px 15px rgb(109, 109, 109);
    border-radius: 10px;
}

.member-subtitle {
    font-style: italic;
    color: #6f6f6f;
}

.member-img {
    border: 0.2px solid #c6c6c6;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.member-img img {
    width: 70px;
    height: 70px;
}

/* Team Status */

#team-status-container {
    width: 100%;
    height: 180px;
    margin-top: 50px;
    background-color: #bbb3a28b;
    box-shadow: 2px 5px 15px rgb(109, 109, 109);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#status-subtitle {
    font-style: italic;
    color: #5d5d5d;
}

#status-indicators-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#status-happy,
#status-sad {
    margin: 50px;
}

/* Stack Container */

#team-technology-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 0.2px solid #d8d8d8;
    box-shadow: 2px 5px 15px rgb(109, 109, 109);
    border-radius: 10px;
    width: 1000px;
    height: 200px;
    margin-bottom: 50px;
}

#technology-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 1000px;
    height: 200px;
}

.technology img {
    width: 70px;
    height: 70px;
}

.technology {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 0.2px solid #c6c6c6;
}

#technology-titles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#technology-card {
    text-align: center;
}